* {
    margin: 0px;
    padding: 0px;
    font-family: Microsoft Yahei;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

div {
    display: block;
}


/*顶栏式样*/

.nav-header nav {
    background-color: #333;
    margin-bottom: 10px;
    width: 100%;
}

.nav-logo {
    display: inline-block;
    margin-bottom: 10px;
}

.nav-list ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}

.nav-list ul li a {
    text-decoration: none;
    color: white;
}

.nav-list {
    display: inline-block;
    float: right;
}

article figure img {
    width: 180px;
    height: 180px;
}

article,
aside {
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
}

figure {
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 240px;
}

table {
    border-collapse: collapse;
    font-weight: bold;
}

article table thead tr th {
    background: #333333;
    color: white;
    text-align: left;
}

tbody tr td {
    width: 500px;
}

tfoot tr td {
    background: #eeeeee;
    border: 0px;
}

aside h2 {
    border-left: 5px solid #eeeeee;
    padding-left: 20px;
}

label {
    display: inline-block;
    width: 45%;
    text-align: right;
    margin: 10px;
}

.btn-submit {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    background-color: #3355d0;
    border: none;
    color: #fafafa;
    border-radius: 8px;
}

aside {
    margin-top: 20px;
    width: 100%;
    float: right;
    background: white;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}
