*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.containter{
	background: #eeeeee;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
}

.left,.right,.centers{
	border: 1px solid  black;
	background: white;
	margin: 20px;
	padding: 10px;
}

.left{
	float: left;
}

.right{
	float: right;
	border: 1px solid  black;
	width: 100px;
}

span{
	font-weight: bold;
	padding: 10px;
}

img{
	float: left;
	width: 80px;
	height: 80px;
	padding: 5px;
}