* {
  margin: 0px;
  padding: 20px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1{
  border: 1px solid #f00;
  width:150px;
  height: 120px;
}

.item2{
  border: 1px solid #f00;
  width:150px;
  height: 100px;
}

.item3{
  border: 1px solid #f00;
  width:150px;
  height: 40px;
}

.item4{
  border: 1px solid #0f0;
  width:150px;
  height: 200px;
}
