* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div,p{
  display: block;
}
/**设置整个页面的样式*/
.home-page{
  width:980px;
  height:1386px;
  margin: 0 auto;
}
/*IFE的logo样式*/
.header-logo{
  background: #d45d5c;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  font-family:黑体;
  margin: 0 44px 0 ;
  padding: 10px;
}
/*调整ife.baidu.com的位置*/
.ife-logo{
  float: left;
  padding-top:35px;
  font-weight: bold;
}
/*设置2016.03的字体*/
.right-date{
  float: right;
  margin-top: -15px;
  margin-right: 44px;
  font-weight: bold;
  font-size: 12px;
  color: #d45d5c;
}
/*横线样式*/
.header-hr{
  margin-left: 44px;
  margin-right: 44px;
  height: 2px;
  width: 892px;
  color: #983e8c;
}
/*主图框样式*/
.page-middle1{
  margin: 44px;
}
/*主图样式*/
.img-main{
  position: relative;
  float: left;
  width: 641px;
  height: 301px;
}
/*覆盖图片左侧绿色样式*/
.img-left{
  position: absolute;;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 301px;
  background-color: #95d767;
  opacity: 0.20;
}
/*覆盖图片右侧红色样式*/
.img-right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 191px;
  height: 301px;
  background-color:#ed281b ;
  opacity: 0.20;
}
/*右侧about总体的样式*/
.text-main{
  position: relative;
  height: 301px;
  width: 203px;
  float: right;

}
/*右侧横线样式*/
.text-hr{
  width: 203px;
  height: 2px;
  color: #cc8091;
}
/*右侧about，technology样式*/
.text-about,.text-tech{
  font-size: 24px;
  color: black;
  font-family: 微软雅黑;
  line-height: 40px;
  text-decoration: underline;
  text-transform: capitalize;
  font-variant: small-caps;
}
/*右侧about-technology样式*/
.text-about-tech{
  margin-top: -20px;
  font-size: 12px;
  line-height: 10px;
  color: #676767;
  font-family: 楷体;
  font-style: oblique;
}
/*右侧数字700样式*/
.text-700{
  font-weight: bold;
  font-size: 116px;
  color: #75b86b;
  font-family: Microsoft Yahei;
  font-style: oblique;
  margin-left: -18px;
  margin-top:30px;
}
/*右侧数字3.2样式*/
.text-32{
  font-size: 55px;
  color: #cc8091;
  font-family: Microsoft Yahei;
  position: absolute;
  bottom: -10px;
}
/*右侧字母CSS样式*/
.text-css{
  position: absolute;
  font-size: 21px;
  color: #cc8091;
  font-family: Microsoft Yahei;
  bottom: 10px;
  left:80px;
}
/*右侧字母csscss样式*/
.text-csscss{
  position: absolute;
  font-size: 12px;
  color: #cbcbcb;
  font-family: Microsoft Yahei;
  bottom: 0;
  left:80px;
}

.page-middle2{
  margin: 44px;
  width: 888px;
  float: left;
  overflow: auto;
}

.text-what{
  float: left;
  width: 230px;
}

.text-what h3{
  padding: 10px 0;
  font-size: 16px;
  color: #418c59;
  font-family: 微软雅黑;
  font-weight: bold;
  text-decoration: underline;
}

.text-what p{
  font-size: 12px;
  colro:#231815;
  font-family: 微软雅黑;
  line-height: 16px;
  opacity：0.3;
}

.text-when{
  width: 210px;
  float: left;
  margin-left: 20px;

}

.text-when h3{
  padding: 10px 0;
  font-size: 16px;
  color: #beb138;
  font-family: 微软雅黑;
  font-weight: bold;
  text-decoration: underline;
}

.text-when p{
  font-size: 12px;
  colro:#231815;
  font-family: 微软雅黑;
  line-height: 16px;
  opacity：0.3;
}

.text-how{
  width: 170px;
  float: left;
  margin-left: 20px;

}

.text-how h3{
  padding: 10px 0;
  font-size: 16px;
  color: #beb138;
  font-family: 微软雅黑;
  font-weight: bold;
  text-decoration: underline;
}

.text-how p{
  font-size: 16px;
  colro:#231815;
  font-family: 微软雅黑;
  line-height: 16px;
  opacity：0.3;
}

.text-how ul {
    margin-top: 45px;
    display: inline-block;
    list-style: none;
    font-size: 12px;
    color: #231815;
    line-height: 16px;
    font-family: "微软雅黑";
}

.text-how ul li span{
  font-style: oblique;
  color: #e07f7f;
  opacity：0.3;
}

.text-top{
  width: 415px;

}

.the{
  font-size: 72px;
  color: #f5e327;
  font-family: 黑体;
  font-style:italic;
  font-weight: bold;
}

.technologe{
  float: right;
  margin-top: -55px;
  font-size: 42px;
  color: #11456b;
  font-family: 黑体;
  font-weight: bold;
}

.of-front{
  font-size: 42px;
  color: #11456b;
  font-family: 黑体;
  font-weight: bold;
}

.qianduanjishulingyu{
  font-size: 33px;
  color: #11456b;
  font-family: 黑体;
  font-weight: bold;
}

.text-top hr{
  margin:10px 0;
  color: #11456b;
  width: 415px;
  height: 2px;
}

.text-the-qianduan{
  text-indent: 0em;
  clear: both;
}

.text-the-qianduan p:first-letter {
    padding: 10px;
    float: left;
    font-size: 70px;
    color: #f5e327;
    font-family: "微软雅黑";
    line-height: 70px;
}

.sepcial{
  float: left;
  width: 415px;
  font-size: 12px;
  color: #767777;
  font-family: 宋体;
  /*margin-top: -250px;*/
  line-height: 16px;
}

.text-the-qianduan img{
  float: right;
  margin: 10px 0px 10px 10px;
}

.page-middle3{
  margin: 44px;
  width: 888px;
  float: left;
}

.text-right{
  margin-top: -180px;
  float: right;
  width: 458px;
  height: 275px;
  margin-right: -44px;
}

.cover-bottom{
  margin-top: -63px;
  width: 458px;
  height: 61px;
  background-color: #5c5c5c;
  opacity: 0.20;
}

.cover-line{
  border-left: 3px solid #72b16a;
  height:44px;
  margin-left: 30px;
  margin-top: -50px;

}

.fe-tech{
  font-size: 26px;
  font-weight: bold;
  color:#ffffff;
  margin-top: -35px;
  margin-left: 40px;
}
