* {
    margin: 0;
    padding: 0;
    font-family: 黑体;
    box-sizing: border-box;
}
/**设置整个页面的样式*/
.home-page{
  width:980px;
  height:1386px;
  margin: auto;
  overflow: auto;
}
/*IFE的logo样式*/
.header-logo{
  background: #d45d5c;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  font-family:黑体;
  margin: 0 44px 0 ;
  padding: 10px;
}
/*调整ife.baidu.com的位置*/
.ife-logo{
  float: left;
  padding-top:35px;
  font-weight: bold;
}
/*设置2016.03的字体*/
.right-date{
  float: right;
  margin-top: -15px;
  margin-right: 44px;
  font-weight: bold;
  font-size: 12px;
  color: #d45d5c;
}
/*横线样式*/
.header-hr{
  margin-left: 44px;
  margin-right: 44px;
  height: 2px;
  width: 892px;
  color: #983e8c;
}
/*主图框样式*/
.page-middle{
  padding-top:10px;
  padding-bottom: 10px;
}
/*主图样式*/
.img-main{
  position: relative;
  width: 641px;
  height: 301px;
  margin-left: 44px;
}
/*覆盖图片左侧绿色样式*/
.img-left{
  position: absolute;;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 301px;
  background-color: #95d767;
  opacity: 0.20;
}
/*覆盖图片右侧红色样式*/
.img-right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 191px;
  height: 301px;
  background-color:#ed281b ;
  opacity: 0.20;
}
/*右侧about总体的样式*/
.text-main{
  position: relative;
  height: 301px;
  width: 203px;
  float: right;
  margin-right: 44px;
  margin-top: -300px;
}
/*右侧横线样式*/
.text-hr{
  width: 203px;
  height: 2px;
  color: #cc8091;
}
/*右侧about，technology样式*/
.text-about,.text-tech{
  font-variant: small-caps;
  padding-top:20px;
  padding-bottom: 20px;
  text-decoration: underline;
  font-size: 24px;
  font-family: Microsoft Yahei;
  color: #000000;
}
/*右侧about-technology样式*/
.text-about-tech{
  font-size: 12px;
  color: #676767;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: KaiTi;
  font-style: italic;
}
/*右侧数字700样式*/
.text-700{
  font-weight: bold;
  font-size: 116px;
  color: #75b86b;
  font-family: Microsoft Yahei;
  font-style: italic;
  margin-left: -15px;
}
/*.number-part{
  margin:-15px auto;
}*/
/*右侧数字3.2样式*/
.text-32{
  font-size: 55px;
  color: #cc8091;
  font-family: Microsoft Yahei;
}
/*右侧字母CSS样式*/
.text-css{
  font-size: 21px;
  color: #cc8091;
  font-family: Microsoft Yahei;
}
/*右侧字母csscss样式*/
.text-csscss{
  font-size: 12px;
  color: #cc8091;
  font-family: Microsoft Yahei;
}
